.user-container{
    text-align: center;

}
.no-content{
    height: 100vh;
    text-align: center
}
.green-name{
    color: var(--color-primary);
}
.welcome-logout{
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 5rem;

    display: flex;
    justify-content: space-between;
}

