.user-container{
    text-align: center;
}
.no-content{
    height: 100vh;
    text-align: center
}
.green-name{
    color: var(--color-primary);
}
.welcome-logout{
    display: flex;
    justify-content: space-around;
}