.h1{
    font-weight: 700;
    text-align: center;
}

nav{
    margin: 0 2rem;
    padding-top:1rem !important;
    padding-bottom:0 !important;
    padding-left: 0 !important;
    padding-right:0 !important;
    border-bottom: solid 2px rgb(185, 178, 178) !important;
    border-width: 80%;
}
.roboimg{
    width: 5rem;
    height: 4rem;
    border-radius: 1rem;
}

@media(max-width: 800px) {
    nav{   
         padding-top: 1rem !important;
         padding-bottom: .5rem !important;
         margin: 0 !important;
  }
  .h1{
    font-size: 1rem;
  }
  .roboimg{
    width: 3rem;
    height: 2rem;
}
}
