footer{
    font-size: .7rem;
    margin-top: auto;
}
footer h2{
font-weight: 700;
font-size: 1.5rem;
margin-bottom: 1rem;
}
.contacts-link{
    color: #444;
    margin: 1rem;
    display: flex;
}
.contacts-link a{
    color: #444;
}
.contacts-link > a:hover{
    color:#39b385;
    text-decoration: underline;
  }

.footer-first-section{
    padding: 4rem 4rem 0 4rem;
    justify-content: space-around;
    display: flex;
}
footer img{
    width: 10em;
    height: 6rem;
}
.link{
    color: #616060 !important;
    text-decoration: none;
}
.link:hover{
    color: #cda557;
}
.icon{
    margin-right: .3rem;
    color:c
}
.icon:hover{
    color: #694600;
    
}
hr{
    width: 80%;
}
.second-section{
    display : flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.address{
    margin-bottom: 1rem;
}

@media (max-width: 1000px) { 
    .footer-first-section{
     flex-direction: column;
     align-items: center;
    }
}