@charset "UTF-8";
:root {
  --bgcolor: #f3f3f3;
  --fontcolor: #444;
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --homebuttons: 2rem;
}
.error{
    color: var(--color-tertiary-darker);
}
.form{
    /* background-color: rgba(94, 197, 118, .3); */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    z-index: 5;
    position: absolute;
}
 
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
 
.eye{
 margin-left: 1rem;
 color: var(--color-primary)
}

.input-field {
    z-index: -1;
    width: 100%;
    text-align: center;
}
.green{
    color: green;
}




.form form{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form form p{
    font-weight: 600;
    font-size: larger;
}

input,textarea{
    width: 30em;
    margin-bottom: 1em  ;
    border: 2px dotted  var(--color-primary);
}

input:active{
    border-color: #39b385;
}
.form label{
    color: var(--fontcolor);
    width: 5rem;
}
textarea{
    height: 7em;
}
form input ,textarea, button{
    border-radius: .5em;
}

@media(max-width: 1200px){
    .form img{
    width: 10rem;
}

    input,textarea{
        width: 20em;
    }
}

@media(max-width: 600px){
    .form{
        flex-direction: column;
    }
    input,textarea{
        width: 17em;
    }
}